.form-container{
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
      form{
        margin: 20px;
      }
  }
  
  .error-correo{
    font-size: 12px;
    color: red;
    text-align: center;
  }
  
  